.main {
  background: $white;
  box-shadow: 0 0 2px #dedede;
  margin-top: 35px;
  padding: 40px 40px 200px;
}

.page__edit-button {
  display: none;
}

.page__title {
  font-weight: initial;
  font-size: 25px;
}

.page__content {
  margin: 30px 0 0;
}

.page__about-list {
  li {
    margin: 0 0 1px;
    font-size: 15px;
  }
}

.about__item-desc {
  padding: 9px 20px 9px 5px;
  background: #F6F6F9;

  i {
    color: $lightGrey;
    margin: 0 8px 0 0;
  }
}

.about__item-edit {
  background: #ECF0F5;
  padding: 0 10px;
  line-height: 35px;
  font-size: 20px;
  cursor: pointer;
  color: $grey;
  position: relative;

  &:hover,
  &.active {
    background: $blue;

    i {
      color: $white;
    }
  }
}

.editbox {
  background: $white;
  padding: 20px;
  position: absolute;
  top: -15px;
  left: 0;
  box-shadow: 0 0 36px 1px #dedede;
  z-index: 9;
  width: 315px;
  cursor: auto;

  label {
    font-size: 13px;
    line-height: normal;
    color: $lightGrey;
    text-transform: uppercase;
  }

  &:before {
    content: '';
    position: absolute;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right: 10px solid $white; 
    left: -10px;
    top: 23px;
  }
}

.editbox__input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid $lightGrey;
  margin-bottom: 20px;
  font-size: 15px;
  padding-bottom: 5px;
  color: $grey;
}

.editbox__button-save,
.editbox__button-cancel {
  margin: 0 20px 0 0;
  width: 100px;
  cursor: pointer
}