.wrapper {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 90px 0 0;
}

.button__primary {
  background: transparent;
  border: 2px solid $blue;
  border-radius: 2px;
  text-decoration: none;
  padding: 7px 20px;
  font-weight: bold;
  font-size: 13px;
  color: $blue;
}

.button__secondary {
  background: $blue;
  border-radius: 2px;
  border: 2px solid $blue;
  padding: 7px 20px;
  font-size: 13px;
  font-weight: bold;
  color: $white;
}

.flex {
  display: flex;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-between {
  justify-content: space-between;
}

.flex-justify-evenly {
  justify-content: space-evenly
}

.none {
  display: none;
}