.header {
  background: $white;
  box-shadow: 0 0 2px #dedede;
}

.header__top {
  padding: 20px 20px 5px;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__image {
  width: 170px;
  height: 170px;
  position: absolute;
  margin: -30px 0 0 -200px;
}

.header__cta {
  margin: 8px 0 0;
}

.upload {
  padding: 30px 0 0;
}

.upload__button {
  border: 1px solid $lightGrey;
  height: 45px;
  width: 220px;
  align-items: center;
  font-size: 17px;
  border-radius: 3px;
  background: transparent;
  color: $grey;
  cursor: pointer;

  i {
    font-size: 27px;
    color: $lightGrey;
  }
}

.header__user {
  padding: 20px 0 0 200px;

  h2 {
    font-weight: initial;
    font-size: 20px;
  }
}

.header__user-address {
  margin: 15px 0 0;
  font-size: 15px;

  li {
    margin-bottom: 10px;
  }

  i {
    font-size: 17px;
  }
}

.reviews {

}

.reviews__stars {
  i {
    font-size: 23px;
    margin: 0 3px 0 0;
  }
}

.reviews__count {
  font-size: 13px;
  margin: 0 0 0 40px;
  line-height: 30px;
}

.header__bottom {
  box-shadow: 0 0 1px #cdcdcd;  
  padding: 0 20px 0 220px;
}
  
.nav {
  li {
    font-size: 15px;
    margin: 0 27px 0 0;
    padding: 19px 0;
    cursor: pointer;


    &.active {
      border-bottom: 2px solid $blue;
    }
  }
}

.followers {
  align-items: center;
  font-size: 15px;

  i {
    font-size: 28px;
    cursor: pointer;
    margin: 0 10px 0 0;
    color: $lightGrey;

    &:hover {
      color: $blue;
    }
  }

  span:last-child {
    color: $lightGrey;
  }
}