/* Smartphones (portrait and landscape) */
@media only screen and (min-width : 320px) and (max-width : 768px) {
  .wrapper {
    padding: 0;
  }

  .header {
    background: transparent;
    box-shadow: none;
  }

  .header__cta {
    margin: 0;
  }

  .button__primary {
    padding: 0;
    border: 0;
  }

  .upload {
    display: none;
  }

  .header__image {
    position: relative;
    margin: 0 auto;
  }

  .header__user {
    flex-direction: column;
    padding: 40px 0 0;
  }

  .header__info {
    margin: 10px 0 0;
    h2 {
      text-align: center;
    }
  }

  .reviews {
    flex-direction: column;
  }

  .reviews__stars {
    color: $blue;
  }

  .reviews__count {
    margin: 0;
  }

  .header__bottom {
    padding: 0;
    background: $white;
    flex-direction: column-reverse;
    margin: 45px 0 0;
  }

  .nav {
    justify-content: space-evenly;

    li {
      font-size: 13px;
      margin: 0;
    }
  }

  .followers {
    position: absolute;
    margin: -70px 0 0;
    padding: 0 20px;
  }

  .main {
    position: relative;
    padding: 20px 0 200px;
  }

  .track {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .page {
    position: relative;
    width: 100%;
    flex: 0 0 auto;
    padding: 0 20px;
  }

  .about__item-desc {
    background: transparent;
  }

  .about__item-edit {
    display: none;
  }

  .page__edit-button {
    display: block;
    position: absolute;
    top: 0;
    right: 20px;
    border: 0;
    background: #ECF0F5;
    color: $grey;
    height: 25px;
    width: 30px;
    font-size: 18px;
  }

  .editbox__mobile {
    position: relative;
    padding: 20px 0 0;

    label {
      color: $lightGrey;
    }
  }

  .editbox__mobile-actions {
    position: absolute;
    width: 100%;
    justify-content: flex-end;
    top: 0;
    margin: -29px 0 0;

    button {
      margin: 0;
      padding: 7px;
      width: auto;
      background: transparent;
      color: $blue;
      border: 0;

      &:last-child {
        margin-left: 10px;
      }
    }
  }

  .editbox__input {
    margin-top: 5px;
  }
}

@media only screen and (min-width : 769px) and (max-width : 820px) {
  .nav {
    li {
      margin: 0 15px 0 0;
    }
  }
}