*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

html,
body,
h1, h2, h3, h4, h5, h6,
p {
  margin: 0;
  padding: 0;
}

body {
  background: $bodyBackground;
  font-family: 'Roboto', sans-serif;
  color: $darkGrey;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}