<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Frontend test</title>

  <link href="//fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <div class="wrapper">
    {% include "partials/header.html" %}
  
    <main class="main">
      <div class="track">
        {% block main %}{%endblock%}
      </div>
    </main>
  </div>

  <script src="bundle.js"></script>
</body>
</html>