{% extends "base.html" %}

{% block main %}
  <div class="page active" id="about">
    <h2 class="page__title">About</h2>

    <button class="page__edit-button js-edit-about">
      <i class="ion-edit"></i>
    </button>

    <div class="page__content">
      <ul class="page__about-list">
        <li class="flex" data-type="name">
          <div class="about__item-desc">
            <strong class="js-text">Jessica Parker</strong>
          </div>
          <div class="about__item-edit">
            <i class="ion-edit"></i>
          </div>
        </li>

        <li class="flex" data-type="website">
          <div class="about__item-desc">
            <i class="ion-android-globe"></i>
            <span class="js-text">www.seller.com</span>
          </div>
          <div class="about__item-edit">
            <i class="ion-edit"></i>
          </div>
        </li>

        <li class="flex" data-type="phone">
          <div class="about__item-desc">
            <i class="ion-ios-telephone-outline"></i>
            <span class="js-text">(949) 325 - 68594</span>
          </div>
          <div class="about__item-edit">
            <i class="ion-edit"></i>
          </div>
        </li>

        <li class="flex" data-type="address">
          <div class="about__item-desc">
            <i class="ion-ios-home-outline"></i>
            <span class="js-text">Newport Beach, CA</span>
          </div>
          <div class="about__item-edit">
            <i class="ion-edit"></i>
          </div>
        </li>

      </ul>
    </div>
  </div>

  <div class="page none" id="settings">
    <h2 class="page__title">Settings</h2>
  </div>

  <div class="page none" id="option1">
    <h2 class="page__title">Option 1</h2>
  </div>
{% endblock %}